version: '3.8'

services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
    expose:
      - "8000"
    restart: always
    container_name: backend-booking

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    container_name: frontend-booking
    restart: always

  nginx:
    image: nginx:mainline-alpine
    container_name: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    restart: always  

volumes:
  postgres_data:
